@charset "UTF-8";

body h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

body form {
	margin-left: 40%;
}

body form #title {
	width: 450px;
	height: 40px;
	margin-bottom: 50px;
}

body form #name {
	width: 250px;
	height: 40px;
	margin-bottom: 50px;
}

.sequence {
	margin-bottom: 70px;
	margin-left: 20px;
}

#sequenceFirst {
	margin-left: 0px;
}

body form a {
	display: inline-block;
	line-height: 30px;
	width: 100px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px black;
	padding-top: 5px;
}

body form .others {
	width: 100px;
	height: 40px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px black;
	background-color: blue;
	color: white;
	margin-right: 1%;
	text-decoration: none;
}

body form .before {
	background-color: white;
	color: black;
	margin-right: 10%;
}