@charset "UTF-8";

body .top {
	height: 60px;
}

body .top ul li a {
	display: inline-block;
	line-height: 30px;
	color: white;
}

body .top ul li a:hover {
	color: blue;
}

body .top h1 {
	margin-top: 2.5%;
	float: left;
	transform: rotate(-35deg);
	color: teal;
}

body .top ul li {
	float: right;
	margin-top: 2%;
	margin-right: 2%;
	background-color: blue;
	width: 180px;
	height: 30px;
	text-align: center;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px;
}

body .center-nav ul {
	float: left;
	padding-top: 25px;
	width: 300px;
	height: 80px;
	margin-left: 1%;
	margin-right: 1%;
	margin-bottom: 0.6%;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px black;
	background-color: teal;
	text-align: left;
	padding-left: 1.5%;
	font-size: 1.5em;
	color: white;
}

#todo {
	clear: both;
	float: left;
	width: 22%;
	text-align: center;
	/*left : 5%;*/
	margin-left: 160px;
}

#doing {
	float: left;
	width: 22%;
	margin-bottom: 5%;
}

#done {
	float: left;
	width: 22%;
	margin-bottom: 5%;
}

body .center #todo  ul li {
	clear: both;
	float: left;
	width: 300px;
	height: 120px;
	text-align: center;
	left: 15%;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px black;
	background-color: skyblue;
	text-align: left;
	padding-top: 25px;
	font-size: 16px;
	color: black;
	margin-bottom: 10%;
	
	opacity:0.8; 
}

body .center #doing  ul li {
	clear: both;
	float: left;
	width: 300px;
	height: 120px;
	text-align: center;
	left: 15%;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px black;
	background-color: skyblue;
	text-align: left;
	padding-top: 25px;
	padding-left: 1.5%;
	font-size: 16px;
	color: black;
	margin-bottom: 10%;
	
	opacity:0.8; 
}

body .center #done ul li {
	clear: both;
	float: left;
	width: 300px;
	height: 120px;
	text-align: center;
	left: 15%;
	box-sizing: border-box;
	box-shadow: 3px 3px 3px 3px black;
	background-color: skyblue;
	text-align: left;
	padding-top: 25px;
	padding-left: 1.5%;
	font-size: 16px;
	color: black;
	margin-bottom: 10%;
	
	opacity:0.8; 
}

body .center div ul li button {
	float: right;
	margin-right: 15px;
	padding:5px;
}

body .center div ul li b {
	padding: 15px;
	font-size: 1.2em;
}

body .center div ul li sub {
	padding: 15px;
	font-size: 0.8em;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}